node_modules/
.next/
dist/
build/
.env
.env.local
.env.production
/.vercel

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# Mac
.DS_Store

# TypeScript
*.tsbuildinfo

# Lockfiles
package-lock.json
pnpm-lock.yaml

# Optional: Yarn Berry
.yarn/*
.pnp.*

